.markdown img {
  max-width: 100%;
}

.markdown summary {
  color: #e91e63;
}
.markdown summary:hover {
  cursor: pointer;
}

.markdown blockquote {
  border-left: 5px solid hsl(40, 100%, 70%);
  background-color: hsla(40, 100%, 70%, 0.2);
  padding: 4px 20px;
}
